@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: white;
    width: 100%;
}

a {
    color: black!important;
}

h1 {
    font-family: 'Krona One', sans-serif;
    padding-top: 10px;
}

h3 {
    font-family: 'Krona One', sans-serif;
    text-align: center;
}

h4 {
    font-family: 'Krona One', sans-serif;
    text-align: center;
}

li {
    list-style-type: none;
}

audio {
    width: 270px;
    text-align: center;
}

footer {
    position: relative;
    text-align: center;
    background-color: #212529;
    color: lightgrey;
    padding: 15px;
}

.sous {
    background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat center bottom / 0 100%;
    transition: background-size .5s;
}

.sous:hover {
    background-size: 100% 100%;
}

.cont {
    position: relative;
    text-decoration: none;

}

.cont:hover {
    color: #ae4136;
    text-decoration: none;
}

.insta {
    color: black;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    transition: all 0.3s ease-out;
    background: linear-gradient(300deg, #212529, #212529, #212529, #212529, #212529, #212529, #212529, #212529, #212529);
}

.insta:hover {
    color: white;
    background: linear-gradient(300deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45);
    transition: all 0.3s ease-out;


}

.twi {
    color: black;
    transition: all 0.3s ease-out;
}

.twi:hover {
    color: #00acee;
    transition: all 0.3s ease-out;
}

.navi {
    background-color: blue;
}

.navi>li {
    padding-left: 30px;
    padding-right: 30px;
}

.fondu {
    color: black;
    margin: 0px 20px 10px 20px;
    padding: 10px 100px 10px 100px;
    border-radius: 10px 10px 10px 10px;

}

.fondu:hover {
    color: #B8B8B8;
    transition: all 0.2s ease-out;
    transition: all 0.2s ease-in;
    background-color: #2C2828;

}

.fondut:hover {
    color: #B8B8B8;
    transition: all 0.2s ease-out;
    transition: all 0.2s ease-in;
    background-color: #2C4F28;
}


.reseau {
    padding-top: 20px;
}

.bande {
    text-align: center;
    border-bottom: 20px solid #212529;


}

.hr {
    height: 2px;
    background-color: #D1D1D1;
    border-radius: 10px;
    margin: 0;
    padding: 0;

}

.pad {
    padding: 0;
    margin: 0;
}

.gauche {
    text-align: left;
}