@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

nav {
    margin-top: 20px;
}
button:focus {
  outline:none!important;
}

.p {
    text-align: left;
    margin: 0;
}

.noir {
    background: #3d3d3e;
}

.bout {
    background-color: grey;
    color: black;
    border-radius: 10px;
    padding: 5px 100px 5px 100px;
    margin: 5px 5px 5px 5px;

}

.bout:hover {
    background-color: darkgrey;
}

.bout:active {
    border: none;

}

.html-box {
    background-color: black;
    text-align: left;
    padding: 5px;
    overflow: scroll;
    height: 300px;

}

.css-box {
    background-color: black;
    text-align: left;
    padding: 5px;
    overflow: scroll;
    height: 300px;
    display: none;
}

.resultat {
    font-size: 30px;
    color: white;
    padding: 10px;
}
.gras {
 font-family: 'Oswald', sans-serif;
 font-family: 'Poppins', sans-serif;
}
.police {
  font-family: 'JetBrains Mono', monospace;
}

/*....................TagHTML.........................*/
.tag-h5 {
    color: #D32B2B;
}

.tag-f {
    color: white;
}

.espace {
    margin-left: 30px;
}

.tag-txt {
    color: white;
}

.tag-class {
    color: #4CBF41;
}

.tag-class1 {
    color: #E3C90E;
}

.taille {
    background-color: #3d3d3e;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    margin: 10px 0px 10px 0px;
}

/*.....................TagCSS..........................*/
.tag-arg {
  color : lightblue;
  margin-left: 30px;
}
.tag-arg2 {
  color : lightblue;
}
.tag-violet {
  color: #D40EF3;
}
/*.....................Résultats.......................*/

.fondu-rond {
    background-color: #3d3d3e;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: all 0.5s ease-out;
}

.fondu-rond:hover {
    transition: all 0.5s ease-out;
    background-color: #FF3232;
}